<div class="" ng-controller="cv_ctrl">
    <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
            <p class="title">What's up?</p>
            <p class="subtitle">Hello, my name is Nate and i'm a full-stack developer and also consider myself UI/UX enthusiaste.</p>
            <div class="content">
                <p>
                  I have a passion for web applications specially with great user experience, look & feel.
                </p>
                <p>
                   This website is my small back-yard in the internet where i can store my resume, blog posts about web-dev, useful (or not) lost&founds links and more to come...
                </p>
            </div>
        </article>
    </div>
</div>