<div class="meow" ng-controller="meow">
    <h2 id="meow">Meoww!!!</h2>
    <p>
        Bully and Chill are smart cats borned at 11 Nov, 2016 and growing to be panthers.
    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/website-457be.appspot.com/o/content%2Fmycats%2FIMG_20170116_193232-2.jpg?alt=media&token=f3fbf6db-e52a-4f75-932c-b32c06631218" alt="Chill and Bully the cats" />
    <h3>They will celebrate birthday in:</h3>
    <div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
        </div>
    </div>
</div>