<footer class="footer">
    <div class="container">
        <div class="content">
            <div id="links">
                <p>
                    <a href="/static/resume.html">Resume</a>
                    <a class="github-button" href="https://github.com/mtr574" data-style="mega" data-count-href="/mtr574/followers" data-count-api="/users/mtr574#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @mtr574 on GitHub">Follow @mtr574</a>
                </p>
            </div>
        </div>
    </div>
</footer>